html {
    height: 100%;
    overflow-y: scroll; /* Scrollbar altijd aanzetten zodat de pagina niet verspringt. */
}

body {
    min-height: 100%;
    position: relative;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Titillium Web", Helvetica, Arial, sans-serif;
    font-weight: 200;
}

.container {
    padding-bottom: 10rem;
}

/* KLEUREN */
.blue {
    background: hsl(210, 100%, 70%);
}
.purple {
    background: hsl(270, 30%, 50%);
}
.green {
    background: hsl(120, 30%, 55%);
}
.red {
    background: hsl(0, 70%, 55%);
}
.orange {
    background: hsl(25, 90%, 55%);
}
.yellow {
    background: hsl(50, 95%, 55%);
}

#footer {
    background-color: #000;
    bottom: 0;
    height: 9rem;
    position: absolute;
    width: 100%;
}

#footer > p {
    color: #FFF;
    line-height: 9rem;
    text-align: center;
}

legend .badge {
    font-size: inherit;
    font-weight: normal;
}